<div class='manageUsersHead'>
	<h3>{{title}}</h3>
	<input placeholder="SEARCH" ng-model="searchString" />
	</div>
	<table>
	<thead>
		<th ng-repeat='titles in tableTitles'>{{titles}}</th>
		<th>ACTION</th> 
	</thead>
	<tbody>
		<tr ng-repeat="item in pagedItems | searchFor:searchString">
			<td>{{item.item}}</td>
			<td style='width:40px'>
				<a class='edit' ui-sref="editCos({cos:'{{item.item}}'})" ng-click="cos(item)"> Edit</a> 
				/ 
				<a class='remove' ng-click="pagedItems.splice($index,1)"> Delete </a>
				
			</td>
		</tr>
	</tbody> 
	<tfoot class='maintain'>
		<td colspan="3" ui-sref="editCos" ng-click="cos()"><span>+ ADD CLASS OF SERVICE</span></td>
	</tfoot>
</table>
