<div class='manageUsersHead'>
	<h3>{{title}}</h3>
	<input placeholder="SEARCH" ng-model="searchString" />
	</div>
	<table>
	<thead>
		<th ng-repeat='titles in tableTitles'>{{titles}}</th>
		<th>ACTION</th>
	</thead>
	<tbody> 
		<tr ng-repeat="item in pagedItems | searchFor:searchString">
			<td ng-repeat='data in item'>{{data}}</td>
			<td style='width:40px'>
				<a class='edit' ui-sref="editRole({role:'{{item.item}}'})" ng-click="role(item)" > Edit</a> 
				/ 
				<a class='remove' ng-click="pagedItems.splice($index,1)"> Delete </a>
				
			</td>
		</tr>
	</tbody> 
	<tfoot class='maintain'>
		<td colspan="3"><span>+ ADD USER ROLE</span></td>
	</tfoot>
</table>
