Edit <div ng-model="cosName" style="display:inline;">{{cosVal.item}}</div> Class of Service
<br/>
<input type="text" class="roleEditInput" placeholder="Class of Service Name" 
name="cos" ng-model="cosVal.item" /> 

<table>
	<thead>
		<tr>
			<th colspan="2">INTERNAL ACCESS</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:200px;">International Calls</td>
			<td style="width:auto;"><input type='checkbox' ng-checked="cosVal.internalAccess.InternalCalls" /></td>
		</tr>
	</tbody>
	<thead>
		<tr>
			<th colspan="2">EXTERNAL ACCESS</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width:200px;">International</td>
			<td style="width:auto;"><input type='checkbox' ng-checked="cosVal.externalAccess.International" <!--ng-change="tick(cosVal.externalAccess.International)"--> />{{cosVal.externalAccess.International}}</td>
		</tr>
		<tr>
			<td style="width:200px;">Domestic</td>
			<td style="width:auto;"><input type='checkbox' ng-checked="cosVal.externalAccess.Domestic" /></td>
		</tr>
		<tr>
			<td style="width:200px;">Landlines</td>
			<td style="width:auto;"><input type='checkbox' ng-checked="cosVal.externalAccess.Landlines" /></td>
		</tr>
		<tr>
			<td style="width:200px;">Mobile Phones</td>
			<td style="width:auto;"><input type='checkbox' ng-checked="cosVal.externalAccess.MobilePhones" /></td>
		</tr>
	</tbody>
	
</table>
<table id='tblExceptions'>
	<thead>
		<tr>
			<th colspan="5">EXCEPTIONS</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td colspan="2"><input placeholder="Code" ng-model="searchString" /></td>
			<td><input type='checkbox' checked="checked" /> Allow</td>
			<td><input type='checkbox' /> Block</td>
			<td colspan="2"><button>Add</button></td>
		</tr>
		<tr ng-repeat="items in cosVal.exceptions.code  | searchFor:searchString">
			<td style="width:50px;">Code {{items}}</td>
			<td style="width:80px;">allowed</td>
			<td><button ng-click="codes.splice($index,1)">Remove</button></td>
		</tr>
	</tbody>
</table>
<button ui-sref="cos">Back</button>
<button>Done</button>




