Edit <div ng-model="userRole" style="display:inline;">{{editRole.item}}</div> role
<br/>
<input type="text" class="roleEditInput" placeholder="User role name" 
name="userRole" ng-model="editRole.item" /> 
<br/>
<input type="text" class="roleEditInput" placeholder="User role description" name="roleDesc" ng-model="editRole.roleDesc" />

<table>
	<thead>
		<th>ALLOW</th>
		<th>APPLICATION</th>
	</thead>
	<tbody>
		<tr>
			<td style="width:20px"><input type="checkbox" ng-model="editRole.application.userRoleManager" /></td>
			<td style="width:auto">User Role Manager</td>
		</tr>
		<tr>
			<td style="width:20px"><input type="checkbox" ng-model="editRole.application.userManager" /></td>
			<td style="width:auto">User Manager</td>
		</tr>
		<tr>
			<td style="width:20px"><input type="checkbox" ng-model="editRole.application.companyManager" /></td>
			<td style="width:auto">Company Manager</td>
		</tr>
		<tr>
			<td style="width:20px"><input type="checkbox" ng-model="editRole.application.interactionManager" /></td>
			<td style="width:auto">Interaction Manager</td>
		</tr>
		<tr>
			<td style="width:20px"><input type="checkbox" ng-model="editRole.application.callCenter" /></td>
			<td style="width:auto">Call Center</td>
		</tr>
	</tbody>
	<tfoot>
		<td style="width:50px"><button  ui-sref="roleMaintenance">BACK</button></td>
		<td style="width:auto"><button>SAVE</button></td>
	</tfoot>
</table>